

































































































/* @media (max-width:650px) {
    .logo{
        font-size: 1.1rem;
    }
    .nav-links{
        font-size: 0.9rem;
    }
    .nav-links li {
         margin-right: 1rem;
    }

    .home1-inner h1{
        font:bold 3rem Roboto ;
    }
   .contact-inner{
    border-radius:3px;
   }
}
@media (max-width:610px) {
    .home2{
        background-color: #ffffff;
        width: 70%;
        border-radius: 0px 0px 0px 0px;
        margin: auto;
        border-radius: 3px;

    }
    .home2 p{
        text-align: justify;
        word-spacing: 0px;
    }
    .home3-inner{
        background-color: #ffffff;
        width: 70%;
        height: 90vh;
        border-radius: 0px 0px 0px 0px;
        margin: auto;
        border-radius: 3px;


    }
    .brand {
        animation: none;
    }
    
}
@media (max-width:530px) {
    .logo{
        display: none;
    }
    .nav-links a {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .nav-links{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contact-inner{
     padding: 10px;
    }
}



@media (max-width:426px) {
    .home1-inner p{
        font-size: 12px;
    }
    .home1-inner h1 {
        font: bold 2rem Roboto;
    }
    .home2{
        background-color: #ffffff;
        width: 70%;
        height: 90vh;
        border-radius: 0px 0px 0px 0px;
        margin: auto;
        border-radius: 3px;

    }
    
    
}
@media (max-width:373px) {
    .home2 p{
        font-size: 26px;
        line-height: normal;
    }
    
}
@media (max-width:325px) {
    .home1-inner h1{
        width: 10px;
    }
    .brand{
        width: 5rem;
        height: 5rem;
    }
    .icon{
        font-size: 2rem;
    }
    .brand p {
        font-weight: 900;
        margin-top: 7px;
        font-size: small;
    }
    
} */ 

